.widget-layout-list {
    list-style: disc
}

.widget-layout-list li{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}



.ea-shopadmin-home {
    margin-top:1em;
}

.ea-shopadmin-icon-panel {
    border:#eee 1px solid;
    background:#fafafa;
    margin:0 1em 2em 1em;
    padding:.7em;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;
}


.ea-shopadmin-icon-panel h3 {

    color:#444 !important;
    margin-bottom:1.5em !important;
    margin-top:.5em !important;
}


.ea-shopadmin-icon-panel .widget-link {
    color: #333;
    background-color: #eee;
    margin:.5em;
    padding:.7em;
    border:#ddd 1px solid;
    border-radius:.5em;

    display: -moz-inline-block;
    display: inline-block;

    min-width:10em;
    text-align:center;
}


.ea-shopadmin-icon-panel .widget-link:hover {
    border:#bbb 1px solid;
    background:#ddd;
}


.ea-shopadmin-icon-panel a {

    color:#000;
}




.cab-title-center{
    margin-left: auto !important;
    margin-right: auto !important;
}

.encombratns-planing{
    width: 100%;
}

.encombratns-planing .empty-cell{
    background-color: #ccc;
    background-image: repeating-linear-gradient(25deg, transparent, transparent 3px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.5) 6px);
}

.encombratns-planing tr{
    color: #444;
    background-color: white;
}
.encombratns-planing tr:hover{
    color: #444;
    background-color: white;
}

.encombratns-planing .header{
    background-color: #ccc;
}
.encombratns-planing .header:hover{
    background-color: #ccc;
}

.encombratns-planing .header td:hover{
    color: #000;
    background-color: #ccc;
}

.encombratns-planing .not-free{
    background-color: #b33;
    color: white
}

.encombratns-planing .free{
    background-color: #393;
    color: white
}

.encombratns-planing .title, .cab-plan-day{
    border-bottom: 1px solid #fff;
    padding: 5px;
    text-align: center;
}

.encombratns-planing .widget-section-content{
    padding: 0 !important;
}

.encombratns-planing .widget-section tr{
    background-color: transparent !important;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
}

.encombratns-planing .empty-cell .widget-section tr{
    color: black;
    border-bottom: none;
}

html .encombratns-planing .widget-section.widget-foldable .widget-section-header:hover{
    background-color: transparent !important;
}

.encombratns-planing .widget-section h3{
    font-size: 1em;
    font-weight: normal;
    text-align:center;
}

.cab-plan-day a{
    color: white !important;
}

.encombratns-planing .empty-cell .title{
    border-bottom: none;
}

.widget-table-row > td{
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.cab-selector{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cab-city-selector{
    padding: 3px;
    border: 1px solid #999;
    margin-left: 3px;
    background-color: #ddd;
}

.cab-city-selector:hover{
    background-color: #eee;
    border: 1px solid #aaa;
}

.cab-city-selected{
    background-color: #fff !important;
    border: 1px solid #999 !important;
}

.collect-planing-container{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.collect-planing{
    border: 1px solid #fff;
    display: inline-block;
    /*width: 92%;*/
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #b33;
    color: #fff !important;
    padding-right: 5px;
    padding-left: 5px;
}

.collect-planing .widget-section tr{
    background-color: transparent !important;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
}

html .collect-planing .widget-section.widget-foldable .widget-section-header:hover{
    background-color: transparent !important;
}

.collect-planing:hover{
    background-color: #f44;
}

.cab-notplanned{
    background-color: #ccc;
}

.cab-notplanned .collect-planing{
    /*display: inline;*/
}

.day-view{
    background-color: #ddd;
}

.date-planing-day{
    text-align: center;
}

.icon-left-symbolic .icon{
    padding: 0 0 0 20px !important;
}
